<div class="main">
    <div class="main-banner">
        <div class="content">
            <!--<div class="overlay" style="background: url('/meta/page_bg_01.png')"></div>-->
            <div class="text-wrapper">
                <div class="main-title">
                    <span class="no-wrap">
                        IHAG
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        화학공학과 웹
                    </span>
                    <span class="no-wrap">
                        딥러닝까지 여러가지
                    </span>
                    <span class="no-wrap">
                        공부를 정리하고 있습니다.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
